{% extends 'first_app/basic.html' %}


{% block body_block%}
    
    {% load staticfiles %}
    

    {% if my_list %}
        <table  border="1" cellpadding="5" cellspacing="0">
                <tr style="font-weight:bolder">
                    <td>name</td>
                    <td>date</td>
                </tr>
            {% for l in my_list %}
                <tr>
                    <td>{{ l.name }}</td>
                    <td>{{ l.date }}</td>
                </tr>
            {% endfor %}
        </table>
    
    {% endif %}
{% endblock %}